
.asteroid big {
    color: blue;
    background-color: yellow;
}

.asteroid b329 big {
    color: blue;
    font-weight: bold;
}

.asteroid b326 {
    font-weight: bold;
    border: 1px solid green;
}

#b325 {
    font-weight: bold;
    border: 1px solid green;
}